@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#9c88ff;
    font-family: "Roboto", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
}
.password-generator{
    width: 400px;
    background-color:#dcdde1;
    margin-top: 125px;
    padding: 30px;
    border-radius: 10px;
}
h2{
    color: #8c7ae6;
    text-align: center;
    margin-bottom: 12px;
    text-transform: uppercase;
    font-size: 20px;
}
.length-input,
.checkbox-group,
.generate-btn{
    margin-bottom: 15px;
}
.length-input label{
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.length-input input{
    width: 100%;
    padding: 5px 10px 5px 2px;
    border-radius: 5px;
    border: none;
    border: 1px solid gray; 
}
.checkbox-group label{
    color:black;
    font-weight: 500;
}
.generate-btn{
    padding: 10px 20px;
    background-color: #8c7ae6;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.generated-password{
    margin-top: 10px;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.generated-password input{
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
}
.generated-password button{
    padding: 14px;
    background-color: #00a8ff;
    color: white;
    border: none;
}














